/* .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.name,
.phoneNumber,
.emailAddress {
    display: inline-block;
    margin: 1rem auto;
    width: 70%;
    max-width: 20rem;
}

.submitBtn {
    display: block;
    margin: 0 auto;
}

.requiredField {
    color: #ff0000;
}
