/* CSS common to all pages */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
    --primary-color: #008037;
    --secondary-color: #eaebec;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 0rem;
    text-align: center;
    border-radius: 0 0 1rem 1rem;
}

.header__title {
    margin-top: 0px;
    padding: 1rem 0rem;
}

.nav {
    padding: 0;
}

.nav__listItem {
    display: inline;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
}

.profilePic {
    display: block;
    margin: 3rem auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.heroImage {
    display: block;
    margin: 3rem auto;
    width: 60%;
    max-width: 24rem;
}

.pageTitle {
    color: var(--primary-color);
    margin: 1rem 0;
    text-align: center;
    /* text-decoration: underline; */
}

.section {
    margin: 2rem auto;
    width: 90%;
    max-width: 45rem;
    padding: 0.5rem 5vw;
    padding-bottom: 0.8rem;
    border-radius: 0.8rem;
}

.section--centre {
    text-align: center;
}

.section__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin: 1rem 0;
}

.section__text {
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}

.section--color {
    background-color: var(--secondary-color);
}

.section__link {
    text-decoration: none;
}

.primaryButton {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    margin-right: 1rem;
}

.secondaryButton {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.footer__title {
    text-align: center;
}

.footer__link {
    margin: 0 1rem;
}

.footer__icon {
    width: 2rem;
}

@media screen and (max-width: 475px) {
    .nav__listItem {
        font-size: 1.1rem;
    }

    .profilePic {
        width: 240px;
        height: 240px;
    }

    .section__title {
        font-size: 1.5rem;
    }

    .section__text {
        font-size: 1rem;
    }
}
